/* ----------------------------------- 
  #style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------- */

/**
 * copyright 2025 defaultercoders
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

/*-----------------------------------*\
  #STORY
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
